<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title></title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
		<link rel="stylesheet" href="/stylesheets/zk.css" />
		<link rel="stylesheet" href="/stylesheets/mi_6.css" />
		<link rel="stylesheet" href="/stylesheets/order.css" />

		<script src="/javascripts/jquery-3.2.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/javascripts/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/javascripts/script.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="/javascripts/address.js" ></script>
		<script>
			initialize();
		</script>
	</head>
	<body>
		<div class="wrapper">
			<div class="push">
				<div class="col-xs-12" style="background-color: #f2f2f2;">
					<a href="/mine">
						<div class="col-xs-1 zk_topBack">
							<img src="/images/icon_back_n.png">
						</div>
					</a>
					<div class="col-xs-10" style="text-align: center;color: #666;height:3rem;line-height:3rem;">
						管理地址
					</div>
					<div class="col-xs-1" ></div>
				</div>
				<div class="col-xs-12 zk_addrs">
				</div>
				<div class="col-xs-12" id="footer" data-toggle='modal' data-target='#addAddrModal'>
					<p>新增地址</p>
				</div>
			
				<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
					<div class="modal-dialog" role="document" style="width:23rem">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
											修改地址
							</div>
							<div class="modal-body col-xs-12" style="background-color:white">
							<form action="/address/update" class="form-horizontal" role="form" method="post">
								<div class="col-xs-12">
									<input type="text" name="key" id="number" class="hide"/>
								</div>
								<div class="col-xs-12" style="padding-top:1rem">
									<div class="col-xs-2 titel">姓名：</div>
									<div class="col-xs-10">
										<input type="text" name="name" class="zk_modName" placeholder="请输入名称"/>
									</div>
								</div>
								<div class="col-xs-12" style="padding-top:1rem">
									<div class="col-xs-2 titel">手机:</div>
									<div class="col-xs-10">
										<input type="text" name="phone" class="zk_modPhone" placeholder="请输入收货人手机号码"/>
									</div>
								</div>
								<div class="col-xs-12" style="padding-top:1rem">
									<div class="col-xs-2 titel">地址:</div>
									<div class="col-xs-10">
										<input type="text" name="addr" class="zk_modAddr" style="border:0;height:2.0rem;line-height:2.0rem;width:18rem;" placeholder="请输入收货地址"/>
									</div>
								</div>
								<div class="col-xs-12 btns">
									<button class='col-xs-6 zk_addrHold' type="submit">保存</button>
									<div class='col-xs-6 zk_addrConcel' onclick="cancel()">取消</div>
								</div>
							</form>
							</div>
							<div class="modal-footer">
							
							</div>
						</div>
					</div>
				</div>

				<div class="modal fade" id="addAddrModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
					<div class="modal-dialog" role="document" style="width:23rem">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
											添加地址
							</div>
							<div class="modal-body col-xs-12" style="background-color:white">
							<form action="/address/add" class="form-horizontal" role="form" method="post">
								<div class="col-xs-12" style="padding-top:1rem">
									<div class="col-xs-2 titel">姓名：</div>
									<div class="col-xs-10">
										<input type="text" name="name" class="zk_modName" placeholder="请输入名称"/>
									</div>
								</div>
								<div class="col-xs-12" style="padding-top:1rem">
									<div class="col-xs-2 titel">手机:</div>
									<div class="col-xs-10">
										<input type="text" name="phone" class="zk_modPhone" placeholder="请输入收货人手机号码"/>
									</div>
								</div>
								<div class="col-xs-12" style="padding-top:1rem">
									<div class="col-xs-2 titel">地址:</div>
									<div class="col-xs-10">
										<input type="text" name="addr" class="zk_modAddr" placeholder="请输入收货地址"/>
									</div>
								</div>
								<div class="col-xs-12 <btns></btns>">
									<button class='col-xs-6 zk_addrHold' type="submit" style="border:0">保存</button>
									<div class='col-xs-6 zk_addrConcel' onclick="cancel()" style="border:0">取消</div>
								</div>
							</form>
							</div>
							<div class="modal-footer">
							
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
