<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>小mi帐号 - 修改姓名</title>

		<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css" />
		<link rel="stylesheet" href="/stylesheets/changeinformation.css" />

		<script src="/javascripts/jquery-3.2.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/javascripts/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/javascripts/script.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
    <div class="wrapper">
        <div id="tvbox" class="wrapper">
            <div class="dd">
				<div class="dd_wrapper">
					<div class="dd_header">								
						<span><</span>
						<cite>修改姓名</cite>
					</div>
					<div class="dd_content">
						<form action="" method="post" id="dd_username">
							<div class="dd_reminder">姓名</div>
							<input class="dd_informationinput" type="text" name="user" id="usernameinput" placeholder=""/>
						    <input class="dd_confirmbtn" id="nameconfirmbutton" type="submit" value="完成" />
						</form>
					</div>
				</div>
			</div>
        </div>
        
    </div>
</body>

</html>