<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>小mi帐号 - 修改性别</title>

		<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css" />
		<link rel="stylesheet" href="/stylesheets/changeinformation.css" />

		<script src="/javascripts/jquery-3.2.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/javascripts/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/javascripts/script.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
    <div class="wrapper">
        <div id="tvbox" class="wrapper">
            <div class="dd">
				<div class="dd_wrapper">
					<div class="dd_header">								
						<span><</span>
						<cite>修改性别</cite>
					</div>
					<div class="dd_content">
						<form action="" method="post" id="dd_usersex">
							<div class="dd_radio">
								<label>
									<div class="dd_sexoption">
										<input type="radio" name="sex" id="dd_male" value="male" checked>
									</div>						    
								    <cite>男</cite>
								</label>
							</div>
							<div class="dd_radio">
								<label>
									<div class="dd_sexoption">
										<input type="radio" name="sex" id="dd_remale" value="remale">
									</div>		    
								    <cite>女</cite>
								</label>
							</div>
							<input class="dd_confirmbtn" id="sexconfirmbutton" type="submit" value="完成" />
						</form>
					</div>
					
				</div>
			</div> 
        </div>
    </div>
</body>

</html>