<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>小mi商城</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <script src="/javascripts/jquery-3.2.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/jquery.scrollto.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/script.js" type="text/javascript" charset="utf-8"></script>
    <script>
        $(document).ready(function() { fragment(<%= fragment %>) });
    </script>
</head>
<body>
    <div class="wrapper">
        <div id="tvbox" class="wrapper">
        </div>
        <div class="col-xs-12 footer">
            <ul id="fragbtns" class="col-xs-12">
                <li class="col-xs-3">
                    <a href="javascript:fragment(1)">
                        <div class="nav">
                            <div class="footerimg">
                                <img src="/images/footer/footer1.png" />
                            </div>
                            <div class="frag_name">
                                <p class="active">首页</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="col-xs-3">
                    <a href="javascript:fragment(2)">
                        <div class="nav">
                            <div class="footerimg">
                                <img src="/images/footer/footer4.png" />
                            </div>
                            <div class="frag_name">
                                <p>分类</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="col-xs-3">
                    <a href="/shopcart">
                        <div class="nav">
                            <div class="footerimg">
                                <div id="shopcart-counts">2</div>
                                <img src="/images/footer/footer6.png" />
                            </div>
                            <div class="frag_name">
                                <p>购物车</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="col-xs-3">
                    <a href="javascript:fragment(4)">
                        <div class="nav">
                            <div class="footerimg">
                                <img src="/images/footer/footer8.png" />
                            </div>
                            <div class="frag_name">
                                <p>我的</p>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>