<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>小mi帐号 - 登录</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="/stylesheets/login.css" />
	<script src="/javascripts/jquery-3.2.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/javascripts/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/javascripts/script.js" type="text/javascript" charset="utf-8"></script>
	<script src="/javascripts/login.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
	<div class="dd wrapper">
		<div class="dd_wrapper">
			<div class="dd_wrap">
				<div class="dd_content">
					<div class="dd_layout">
						<div class="dd_mainbox"><!--登录表单-->
							<div>
								<a class="dd_ercode"></a>
							</div>
							<div class="dd_logheader">
								<div class="dd_headertitle">
									<em class="dd_milogo"></em>
									<h4 class="dd_headertxt">小米账号登录</h4>
								</div>
							</div>
							<div class="dd_navtab"></div><!--导航标签待定-->															
							<div class="dd_logcontent">
								<div>
									<div class="dd_logarea">
										<form action="/users/login" method="post" id="dd_loginmainform" submit="">
											<div class="dd_loginbox">
												<div class="dd_loginput">
													<div class="dd_singleimgarea"></div>
													<label class="dd_user">
														<input class="dd_itemaccount" autocomplete="off" type="text" name="user" id="username" placeholder="手机号码/用户名"/>
													</label>
													<label class="dd_pwd">
														<div id="dd_lookeye" class="dd_eye"></div>
														<input type="password" placeholder="密码" autocomplete="off" name="pwd" id="pwd" />
													</label>
												</div>
												<div id="dd_errorname" class="dd_errtip">
													<div class="dd_disbox">
														<img class="dd_erricon" src="/images/login/error.png"/>
														<span>账号不能为空</span>
													</div>
												</div>
												<div id="dd_errorpwd" class="dd_errtip">
													<div class="dd_disbox">
														<img class="dd_erricon" src="/images/login/error.png"/>
														<span>请输入密码</span>
													</div>
												</div>
												<div id="dd_errorforbidden" class="dd_errtip">
													<div class="dd_disbox">
														<img class="dd_erricon" src="/images/login/error.png"/>
														<span>账号或密码错误</span>
													</div>
												</div>
												<div class="dd_btn1">
													<input class="dd_loginbtn" id="loginbutton" type="button" value="立即登录" />
												</div>
												<div class="dd_otherlogin">
													<fieldset class="dd_othertitle">
														<legend align="center" class="dd_othertxt">其它登录方式</legend>
													</fieldset>
													<div class="dd_otherlink">
														<a class="dd_qqbtn icon_type" data-type="qq" href="#" title="QQ登录">
															<i class="dd_btn2 icon_qq"></i>
														</a>
														<a class="dd_weibobtn icon_type" data-type="weibo" href="#" title="微博登录">
															<i class="dd_btn2 icon_weibo"></i>
														</a>
														<a class="dd_alipaybtn icon_type" data-type="alipay" href="#" title="支付宝登录">
															<i class="dd_btn2 icon_alipay"></i>
														</a>
														<a class="dd_weixinbtn icon_type" data-type="weixin" href="#" title="微信登录">
															<i class="dd_btn2 icon_weixin"></i>
														</a>
													</div>
												</div>
											</div>
										</form>
									</div>
								</div>
								<div class="dd_linkarea">
									<a class="outerlink" href="/users/register">注册小米账号</a>
									<span>|</span>
									<a class="outerlink" href="/users/forget">忘记密码？</a>
								</div>
							</div>
							<div class="tabs_con"></div><!--待定-->
						</div>	
						<div class="dd_qrcode"></div><!--二维码待定-->
					</div>
				</div>
			</div>
		</div>
		<div class="dd_footer">
			<p class="dd_intro">
				<span>小米公司版权所有-京ICP备10046444-
					<a class="dd_recordlink" href="">
						<span>
							<img src="/images/login/police.png" />
						</span>京公网安备11010802020134号
					</a>-京ICP证110507号
				</span>
			</p>
		</div>
	</div>
</body>

</html>
