<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>我的订单</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/zk.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/mi_6.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/order.css" />

    <script src="/javascripts/jquery-3.2.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/script.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/zk.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/order.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/myorder.js" type="text/javascript" charset="utf-8"></script>
    <script>
        initialize("<%= userId%>");
    </script>
</head>

<body>
    <div class="wrapper">
        <div class="push" id="zk_orderPush">
            <div class="col-xs-12" style="background-color: #f2f2f2;">
                <div class="col-xs-1 zk_topBack">
                    <img src="img/icon_back.png">
                </div>
                <div class="col-xs-10" style="text-align: center;color: #666;">
                    我的订单
                </div>
            </div>

        </div>
    </div>
</body>

</html>