<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>我的订单</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/zk.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/mi_6.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/order.css" />

    <script src="/javascripts/jquery-3.2.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/script.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/zk.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/order.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/myorder.js" type="text/javascript" charset="utf-8"></script>
    <script>
        
        initialize("<%= userId%>", "<%= state%>");
        
    </script>
</head>

<body>
    <div class="wrapper">
        <div class="wf_head">
            <a href="/">
                <div class="col-xs-1" id="back_button">
                    <img src="/images/icon_back_n.png"/>
                </div>
            </a>		
            <div class="col-xs-9" id="wf_head_content">我的订单</div>
            <a href="/search">
                <div class="col-xs-2" id="search_botton">
                </div>
            </a>
        </div>
        <div class="content row" style="padding-top:0">
            <div class="push" id="zk_orderPush" style="overflow:scroll">
            						

            </div>
        </div>
    </div>
</body>

</html>