
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>小mi商城</title>

    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/footer.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/index_header.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/zk.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/wf.css" />

    <script src="/javascripts/jquery-3.2.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/script.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/toucher.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/wf.js" type="text/javascript" charset="UTF-8"></script>

</head>

<body>
	<!--
		作者：吴凡
		时间：2017-07-14
		描述：订单页
	-->
	<div class="wf_head">
		<div class="col-xs-1" id="back_button"><</div>
		<div class="col-xs-10" id="wf_head_content">我的订单</div>
		<div class="glyphicon glyphicon-search col-xs-1" id="search_botton"></div>
	</div>
	<div class="nogoods">
		
	</div>
	<div>
		<div class="col-xs-1"></div>
		<div class="leftnogoods col-xs-5">全部商品</div>
		<div class="ringhtnogoods col-xs-5">精选商品</div>
		<div class="col-xs-1"></div>
	</div>
</body>

</html>