<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>小mi帐号 - 个人信息</title>

		<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
		<link rel="stylesheet" href="/stylesheets/person.css" />

		<script src="/javascripts/jquery-3.2.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/javascripts/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/javascripts/script.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
    <div class="wrapper">
        <div id="tvbox" class="wrapper">
            <div class="dd">
				<div class="dd_wrapper">
					<div class="dd_header">								
						<span onclick="window.location.href='/mine'"><</span>
						<cite>个人资料</cite>
					</div>
					<div class="dd_content">
						<ul class="dd_model">
							<li id="dd_headimg">
								<a href="">
									<cite>头像</cite>
									<div class="dd_userimg"></div>
								</a>
							</li>
							<li>
								<a href="changename.html">
									<cite>姓名</cite>							
									<span>></span>
									<p>dd</p>
								</a>
							</li>
							<li>
								<a href="changemale.html">
									<cite>性别</cite>							
									<span>></span>
									<p>男</p>
								</a>
							</li>
							<li>
								<a href=" ">
									<cite>生日</cite>							
									<span>></span>
									<p>1995-04-05</p>
								</a>
							</li>
							<li>
								<a href="changepassword.html">
									<cite>小米账号</cite>						
									<span></span>
									<p>912231414</p>
								</a>
							</li>
						</ul>
						<ul class="dd_mode2">
							<li>
								<a href="">
									<cite>修改密码</cite>
									<span>></span>
								</a>
							</li>
							<li>
								<a href="/users/address">
									<cite>收货地址</cite>
									<span>></span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
        </div>
        
    </div>
</body>

</html>