<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>小mi帐号 - 注册</title>

		<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
		<link rel="stylesheet" href="/stylesheets/register.css" />

		<script src="/javascripts/jquery-3.2.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/javascripts/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/javascripts/script.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="/javascripts/register.js" ></script>
</head>

<body>
    <div class="wrapper">
        <div id="tvbox" class="wrapper">
        	<div class="dd">
				<div class="dd_wrapper">
					<div class="dd_wrap">
						<div class="dd_layout">
							<div class="dd_maincontainer">
								<div class="dd_itemtitle">
									<h4 class="dd_title">注册小米账号</h4>
								</div>
								<div>
									<div class="dd_regbox">
										<form action="" method="post" id="dd_registermainform">
											<div class="dd_regphone">										
											    <div class="dd_inputbtn">
											    	<label class="dd_labelbox">
											    		<input type="button" id="regmobile_btn" value="获取动态码" />
											    		<input id="dd_phoneinput" type="tel" name="phone" placeholder="请输入手机号码" />
											    	</label>
											    </div>
											    <div id="dd_phonenum" class="dd_errtip">
											    	<div class="dd_disbox">
											    		<img class="dd_erricon" src="/images/login/error.png"/>
											    		<span>请输入手机号码</span>
											    	</div>
											    </div>
											    <div id="dd_phonenumerr" class="dd_errtip">
											    	<div class="dd_disbox">
											    		<img class="dd_erricon" src="/images/login/error.png"/>
											    		<span>手机号码格式错误</span>
											    	</div>
											    </div>
											    <div class="dd_inputbtn">
											    	<label class="dd_labelbox">
											    		<input id="dd_movephonenum" type="text" name="phonecode" placeholder="请输入手机动态码" />
											    	</label>
											    </div>
											    <div id="dd_phonemovenum" class="dd_errtip">
											    	<div class="dd_disbox">
											    		<img class="dd_erricon" src="/images/login/error.png"/>
											    		<span>请输入手机动态码</span>
											    	</div>
											    </div>
												<div class="dd_inputbtn">
											    	<label class="dd_labelbox">
											    		<input id="dd_password" type="password" name="pwd" placeholder="请输入密码" />
											    	</label>
											    </div>
												<div class="dd_inputbtn">
											    	<label class="dd_labelbox">
											    		<input id="dd_repassword" type="password" name="repwd" placeholder="请再次输入密码" />
											    	</label>
											    </div>
											     <div id="dd_pwdnum" class="dd_errtip">
											    	<div class="dd_disbox">
											    		<img class="dd_erricon" src="/images/login/error.png"/>
											    		<span>请输入密码</span>
											    	</div>
											    </div>
											    <div id="dd_pwderr" class="dd_errtip">
											    	<div class="dd_disbox">
											    		<img class="dd_erricon" src="/images/login/error.png"/>
											    		<span>两次密码输入不一致</span>
											    	</div>
											    </div>
											    <div class="dd_subphone">
												    <input id="dd_registerbtn" class="dd_subbtn" type="button" value="立即注册	" />
												    <p class="dd_msg">注册帐号即表示您同意并愿意遵守小米
													    <a href="http://www.miui.com/res/doc/eula/cn.html" class="dd_msglink" title="用户协议" target="_blank">用户协议</a>和
													    <a href="http://www.miui.com/res/doc/privacy/cn.html" class="dd_msglink" title="隐私政策" target="_blank">隐私政策</a>
												    </p>
											    </div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="dd_footer">
						<div class="dd_clearfix">
							<a href="" class="lang-select-li">简体</a>|
							<a href="" class="lang-select-li">繁体</a>|
							<a href="" class="lang-select-li">English</a>|
							<a href="" class="lang-select-li" target="_blank">常见问题</a>
						</div>
						<p class="dd_intro">
							<span>小米公司版权所有-京ICP备10046444-
							<a class="dd_recordlink" target="_blank" href="">
								<span>
									<img src="/images/login/police.png" />
								</span>京公网安备11010802020134号
							</a>-京ICP证110507号
							</span>
						</p>
					</div>
				</div>	
			</div>
        </div>
        
    </div>
</body>

</html>