.zk_topBack {
    padding-bottom: 0.1rem;
    margin-top: .6rem;
}

.zk_topBorder {
    height: 0.4rem;
    background: url(../img/border.png) 0 0 repeat-x;
    background-size: 2.6rem 0.4rem;
}

.zk_address,
.zk_Space,
.zk_address_hide,
.zk_payMethod,
.zk_orderId,
.zk_orderState,
.zk_turnDown,
.zk_orderDetail.zk_addrDetail {
    padding-left: 1rem;
    padding-right: 1rem;
}

.zk_address_hide,
.zk_payMethod_hide {
    display: none;
}

.zk_Space {
    border-left: 1rem solid white;
    border-right: 1rem solid white;
    background-color: #eee;
    height: 0.1rem;
}

.zk_address>.col-xs-10,
.zk_address_hide>.col-xs-10 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.zk_username,
.zk_userPhone {
    color: #333;
    text-align: left;
    font-size: 1rem;
    width: auto;
    float: left;
    padding-right: 1rem;
}

.zk_position {
    font-size: 0.8rem;
    color: #757575;
    text-align: left;
}

.zk_payMethod {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.zk_choose,
.zk_noChoose {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2.3rem;
}

.zk_payMethod>.zk_noChoose,
.zk_payMethod>.zk_choose {
    padding-top: 0.5rem;
}

.zk_logo,
.zk_payMethod>.col-xs-8 {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
}

.zk_logo,
.zk_payMethod>.col-xs-7 {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
}

.zk_turnDown {
    padding-bottom: 0.2rem;
}

.zk_turnDown>.col-xs-8 {
    padding-top: 0.2rem;
}

.zk_proName,
.zk_number {
    padding-top: 0.5rem;
    font-size: 1rem;
}

.zk_number {
    text-align: right;
}

.zk_orderId,
.zk_orderState {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.zk_orderId>div {
    color: #666;
    font-size: 1rem;
}

.zk_orderState {
    font-size: 1rem;
    color: #FF5722;
    text-align: right;
}

.zk_orderItem {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.zk_orderItem>.col-xs-3 {
    padding-left: 1rem;
}

.zk_orderItem>.col-xs-9 {
    font-size: 0.8rem;
    color: #666;
    padding-top: 1.5rem;
}

.zk_orderItemNum,
.zk_orderItemMoney {
    padding-bottom: 0.5rem;
}

.zk_orderItemNum {
    color: #999;
    padding-top: 0.5rem;
    font-size: 0.8rem;
}

.zk_orderItemMoney {
    padding-top: 0.2rem;
    color: #666;
    padding-right: 1rem;
    font-size: 1rem;
    text-align: right;
}

.zk_goDowm {
    padding-right: 1rem;
}

.zk_orderDetail {
    display: none;
}

.zk_orderDetail div {
    padding-bottom: 0.5rem;
    color: #666;
    font-size: 1rem;
}

.zk_addrDetail {
    margin-top: 0.5rem;
}

.zk_addrDetail>.col-xs-12 {
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.zk_addrDetail div {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.zk_addrUser,
.zk_addrPhone {
    font-size: 1rem;
}

.zk_addrUser {
    color: #FF5722;
}

.zk_addrSpecific {
    color: #333;
    font-size: 0.8rem;
}

.zk_addrDelete,
.zk_addrModify,
.zk_addrHold,
.zk_addrConcel {
    padding: 0 !important;
    border: none;
    height: 2rem;
    line-height: 2rem;
    margin-top: 0.5rem;
    text-align: center;
    font-size: 1rem;
}

.zk_addrModify,
.zk_addrHold {
    background-color: #FF5722;
    color: white;
}

.zk_addrDelete,
.zk_addrConcel {
    background-color: lightgrey;
}

.modal-body>div,
.modal-body>input {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.modal-body>input {
    border: none;
}

#footer {
    height: 2.9rem;
    background-color: #FF5722;
    position: fixed;
    text-align: center;
    bottom: 0;
}

#footer p {
    line-height: 2.9rem;
    font-size: 1rem;
    color: white;
}

#footerp {
    height: 2.9rem;
    width: inherit;
    background-color: #FF5722;
    position: fixed;
    text-align: center;
    bottom: 0;
}

#footerp p {
    line-height: 2.9rem;
    font-size: 1rem;
    color: white;
}

.modal-body input {
    border: 0;
    height: 2.0rem;
    line-height: 2.0rem;
    width: 18rem;
}

.modal-body .titel {
    font-size: 1rem;
    height: 2.0rem;
    line-height: 2.0rem;
}

.modal-body .btns {
    padding-top: 1rem;
}

.ipt-box-nick {
    height: 2rem !important;
    line-height: 2rem !important;
    position: relative !important;
}

.ipt-box-nick .ipt-real-nick {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100%;
    height: 2rem !important;
    line-height: 2rem !important;
    opacity: 0 !important;
    z-index: 3 !important;
}

.ipt-box-nick .ipts-box-nick {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    z-index: 1 !important;
    width: 100%;
    height: 2.5rem !important;
    line-height: 2rem !important;
    overflow: hidden;
}

.ipt-box-nick .ipts-box-nick .ipt-fake-box {
    height: 2rem !important;
    line-height: 2rem !important;
    display: flex !important;
    justify-content: space-between !important;
}

.ipt-box-nick .ipts-box-nick .ipt-fake-box input {
    width: 2rem !important;
    height: 2rem !important;
    border: 1px solid #D7D7D7 !important;
    color: #810213 !important;
    font-weight: bold !important;
    font-size: 1.5rem !important;
    text-align: center !important;
    padding: 0 !important;
}

.ipt-box-nick .ipt-active-nick {
    width: 2rem !important;
    height: 2rem !important;
    line-height: 2rem !important;
    text-align: center;
    position: absolute !important;
    top: 0;
    left: 0;
    z-index: 2;
}

.ipt-box-nick .ipt-active-nick img {
    vertical-align: middle;
}