@font-face {
    font-family: Mi;
    src: url('../fonts/Mi.eot');
    src: url('../fonts/Mi.ttf');
    src: url('../fonts/Mi.woff');
    src: url('../fonts/Mi.woff2');
}

@media (max-width: 767px) {
    * {
        font-size: 1.2rem;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    * {
        font-size: 1rem;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    * {
        font-size: 0.6rem;
    }
}

@media (min-width: 1200px) {
    * {
        font-size: 0.5rem;
    }
}

* {
    font-family: Mi;
}

a {
    color: inherit;
}

.row {
    margin-right: -0.25rem;
    margin-left: -0.25rem;
}

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 0.25rem;
    padding-left: 0.25rem;
}

.dd {
    width: 100%;
    height: 100%;
    background: #f9f9f9;
    color: #9d9d9d;
    font-size: 1.05rem;
    font-family: arial, "Hiragino Sans GB", "Microsoft YaHei", "微軟正黑體", "儷黑 Pro", sans-serif;
    display: block;
}

.dd_header {
    width: 100%;
    height: 5.5rem;
    line-height: 5.5rem;
    background: white;
    position: fixed;
    z-index: 1;
}

.dd_header cite {
    display: block;
    width: 6rem;
    height: 5.5rem;
    line-height: 5.5rem;
    color: #666;
    font-size: 1.5rem;
    font-family: arial, "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
    font-style: normal;
    float: left;
}

.dd_header span {
    display: block;
    width: 3.5rem;
    height: 5.5rem;
    line-height: 5.1rem;
    float: left;
    padding: 0 1rem;
    font-size: 2.2rem;
    color: #666;
}

.dd_content {
    width: 100%;
    position: absolute;
    background: #f9f9f9;
}

.dd_content ul {
    list-style: none;
    background: white;
    padding: 0;
}

.dd_content li {
    width: 100%;
    height: 4rem;
    border-bottom: 0.2rem solid #f9f9f9;
}

#dd_headimg {
    height: 6rem !important;
}

#myform {
    height: 6rem;
    line-height: 6rem;
    position: relative;
    padding-left: 1rem;
}

.dd_userimg {
    width: 3.225rem;
    height: 6rem;
    line-height: 6rem;
    border: 0;
    /* background: url(../images/account/userimg.png) no-repeat; 
    background-position-y: 50%;
    background-size: 100% auto;  */
    margin-right: 1.056rem;
    float: right;
}

.dd_content a {
    width: 100%;
    height: 4rem;
    line-height: 4rem;
    display: block;
    padding-left: 1rem;
    padding-right: 1rem;
}

.dd_content cite {
    font-style: normal;
    color: #666;
    font-size: 1.3rem;
}

.dd_content span {
    font-size: 1.2rem;
    width: 2rem;
    text-align: center;
    height: 4rem;
    float: right;
}

.dd_text {
    font-size: 1.2rem;
    width: auto;
    height: 4rem;
    float: right;
    margin: 0;
}

.dd_model3 a {
    text-align: center;
}

.modal-body>div,
.modal-body>input {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.modal-body>input {
    border: none;
}

.dd_addrHold,
.dd_addrCancel {
    height: 2rem;
    line-height: 2rem;
    margin-top: 0.5rem;
    text-align: center;
    font-size: 1rem;
}

.dd_addrHold {
    background-color: #FF5722;
    color: white;
}

.dd_addrCancel {
    background-color: lightgrey;
}

.dd_sexoption {
    width: 6rem !important;
    height: auto !important;
    line-height: auto !important;
    outline: 0;
}

.dd_modPassword {
    margin-bottom: 0.5rem;
    width: auto;
    height: auto;
}

#exampleInputFile {
    width: 3.225rem;
    height: 6rem;
    position: absolute;
    right: 1.056rem;
    top: 0;
    opacity: 0;
}

.dd_userimg img {
    width: 3.225rem;
    height: 3.225rem;
    border: 0;
    border-radius: 3.225rem;
}

.modal-header {
    font-size: 1.2rem;
}

.dd_remind {
    font-size: 1.2rem;
}

.dd_modName,
.dd_sexoption,
.dd_modPassword {
    font-size: 1.2rem;
}