@font-face {
    font-family: Mi;
    src: url('../fonts/Mi.eot');
    src: url('../fonts/Mi.ttf');
    src: url('../fonts/Mi.woff');
    src: url('../fonts/Mi.woff2');
}

@media (max-width: 767px) {
    * {
        font-size: 1.2rem;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    * {
        font-size: 1rem;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    * {
        font-size: 0.6rem;
    }
}

@media (min-width: 1200px) {
    * {
        font-size: 0.5rem;
    }
}

* {
    font-family: Mi;
}

a {
    color: inherit;
}

.row {
    margin-right: -0.25rem;
    margin-left: -0.25rem;
}

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 0.25rem;
    padding-left: 0.25rem;
}

html{
    height: 100%;
}

body,.wrapper
{
    height:inherit;
}

.wrapper
{
    margin-right: auto;
    margin-left: auto;
}

.dd {
    width: 100%;
    height: 100%;
    background: #f9f9f9;
    color: #9d9d9d;
    font-size: 1.05rem;
    font-family: arial, "Hiragino Sans GB", "Microsoft YaHei", "微軟正黑體", "儷黑 Pro", sans-serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.dd_wrapper {
    width: 100%;
    height: 42.225rem;
    background: #f9f9f9;
}

.dd_wrap {
    width: 100%;
    height: 42.225rem;
    padding-bottom: 6.75rem;
}

.dd_layout {
    width: 100%;
    height: 34.725rem;
    margin-bottom: 0.75rem;
}

.dd_maincontainer {
    padding-bottom: 2.25rem;
    height: 34.725rem;
}

.dd_itemtitle {
    height: 5.25rem;
    border-bottom: none;
    padding: 1.725rem 0 1.5rem;
    text-align: center;
}

.dd_title {
    font-size: 1.5rem;
    font-weight: normal;
    color: #666;
    margin: 0;
}

.dd_regbox {
    height: 27.225rem;
    width: 100%;
    font-size: 1.05rem;
    padding: 0 1.5rem;
    box-sizing: border-box;
}

#dd_registermainform {
    height: 27.225rem;
    width: 100%;
}

.dd_regphone {
    height: 27.225rem;
    width: 100%;
}

.dd_inputbtn {
    padding-bottom: 1.125rem;
    height: 4.2rem;
}

.dd_errtip {
    display: none;
    margin-top: -1rem;
    line-height: 1.5rem;
    color: red;
    font-size: 1.05rem;
}

.dd_erricon {
    width: 1.05rem;
    height: 1.05rem;
    margin-right: 0.375rem;
    overflow: hidden;
}

.dd_errtip span {
    vertical-align: middle;
    margin: 0;
    padding: 0;
    line-height: 1.5rem;
    color: red;
    font-size: 1.05rem;
}

.dd_labelbox {
    height: 3.15rem;
    width: 100%;
    overflow: hidden;
    background: #fff;
    border: 0.075rem solid rgba(0, 0, 0, 0.3);
    margin: 0;
    border-radius: 0.6rem;
    outline: 0 none;
    cursor: default;
}

.dd_labelbox input {
    width: 100%;
    height: 3rem;
    margin: 0;
    padding: 0.75rem;
    line-height: 1.5rem;
    outline: none;
    color: #333;
    background: none;
    border: 0 none;
    font-size: 1.05rem;
    font-weight: 400;
    font-family: arial, "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
    text-indent: 0px;
    text-shadow: none;
}

#dd_phoneinput {
    width: 9.5rem;
    float: left;
}

#regmobile_btn {
    width: 9rem;
    height: 3.1rem;
    float: right;
    color: white;
    background: #33b4ff;
}

.dd_subphone {
    height: 7.725rem;
    padding-top: 2.25rem;
    padding-bottom: 0.75rem;
}

.dd_subbtn {
    height: 3.225rem;
    width: 100%;
    background-color: #33b4ff;
    margin-top: 1.125rem;
    padding: 0.75rem 0;
    border: 0.075rem solid rgba(186, 186, 186, 0.3);
    color: #fff;
    text-align: center;
    /*font: 0.9rem Arial;*/
    font-size: 1.2rem;
    font-family: arial, "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
    border-radius: 1.5rem;
    outline: none;
    align-items: flex-start;
    text-indent: 0px;
    text-shadow: none;
}

.dd_msg {
    width: 100%;
    height: 2.7rem;
    margin-top: 0.75rem;
    color: #9d9d9d;
    margin: 0;
    padding: 0;
    font-size: 1.05rem;
}

.dd_msglink {
    color: #333;
    font-weight: bold;
    font-size: 1.05rem;
}

.dd_footer {
    color: #757575;
    line-height: 1.5;
    text-align: center;
    font-size: 1.05rem;
    margin-top: -6.75rem;
    height: 6.75rem;
    width: 100%;
}

.dd_clearfix {
    text-align: center;
}

.dd_clearfix a {
    padding: 0 0.75rem;
    font-size: 1.05rem;
}

.dd_intro {
    padding: 0.75rem;
    margin: 0;
}

.dd_intro span {
    font-size: 1.05rem;
}

.dd_intro a {
    font-size: 1.05rem;
}

.dd_recordlink img {
    width: 1.5rem;
    height: 1.5rem;
}