<!--
	作者：周轲
	时间：2017-07-13
-->
<div class="content row">
	<div class="slideshow col-sm-12">
	</div>
	<div class="push col-sm-12">
		<div class="row">
			<div class="col-xs-6">
				<img src="/images/push2/first_left.jpg">
			</div>
			<div class="col-xs-6">
				<div class="row">
					<div class="col-xs-12">
						<img src="/images/push2/first_right_up.jpg" />
					</div>
				</div>
				<div class="space"></div>
				<div class="row">
					<div class="col-xs-12">
						<img src="/images/push2/first_right_down.jpg" />
					</div>
				</div>
			</div>
		</div>
		
		<div class="space"></div>
		
		<div class="row">
			<img src="/images/push2/second.jpg" />
		</div>
	
		<div class="space"></div>
		
		<div class="row">
			<img src="/images/push2/third.jpg" />
		</div>
		
		<div class="row zk_goodsPic">
				<div class="col-xs-6">
					<div class="row">
						<img src="/images/push/mi_mix.jpg" />
					</div>
				</div>
				<div class="col-xs-6">
					<div class="row">
						<img src="/images/push/mi_5s.jpg" />
					</div>
				</div>
		</div>
		<div class="row zk_goodsBrief">
			<div class="col-xs-6">
				<div class="col-xs-12 zk_infoName">
					小米MIX
				</div>
				<div class="col-xs-12 zk_state">
					6.4" 全面屏，全陶瓷机身
				</div>
				<div class="col-xs-12 zk_briefPrice">
					<span>起</span>
					<div>2799.00</div>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="col-xs-12 zk_infoName">
					小米5s 64GB版
				</div>
				<div class="col-xs-12 zk_state">
					“暗夜之眼”超感光相机
				</div>
				<div class="col-xs-12 zk_briefPrice">
					<div>1999.00</div>
				</div>
			</div>
		</div>
	
		<div class="row zk_goodsPic">
			<div class="col-xs-6">
				<div class="row"><img src="/images/push/mi_5splus.jpg" /></div>
			</div>
			<div class="col-xs-6">
				<div class="row"><img src="/images/push/mi_4x.jpg" /></div>
			</div>
		</div>
		<div class="row zk_goodsBrief">
			<div class="col-xs-6">
				<div class="col-xs-12 zk_infoName">
					小米5s Plus
				</div>
				<div class="col-xs-12 zk_state">
					5.7"大屏双摄手机
				</div>
				<div class="col-xs-12 zk_briefPrice">
					<div>2299.00</div>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="col-xs-12 zk_infoName">
					红米4X 
				</div>
				<div class="col-xs-12 zk_state">
					超长续航，5” 舒适单手握感
				</div>
				<div class="col-xs-12 zk_briefPrice">
					<span>起</span>
					<div>699.00</div>
				</div>
			</div>
		</div>

		<div class="space"></div>
		
		<div class="row">
			<img src="/images/push2/forth.jpg" />
		</div>
		<div class="row zk_across">
			<div class="col-xs-6">
				<div class="row">
					<img src="/images/push2/fifth.jpg" />
				</div>
			</div>
			<div class="col-xs-6">
				<div class="row zk_goodsBrief">
					<div class="col-xs-12 zk_infoName">
						AMAZFIT运动手表
					</div>
					<div class="col-xs-12 zk_state">
						GPS 实时轨迹，精确掌握运动数据
					</div>
					<div class="col-xs-12 zk_briefPrice">
						<div>799.00</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row zk_across">
			<div class="col-xs-6">
				<div class="row zk_goodsBrief">
					<div class="col-xs-12 zk_infoName">
						小米魔方控制器
					</div>
					<div class="col-xs-12 zk_state">
						搭配小米多功能网关，做生活的魔术师
					</div>
					<div class="col-xs-12 zk_briefPrice">
						<div>69.00</div>
					</div>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="row">
					<img src="/images/push2/sixth.jpg" />
				</div>
			</div>
		</div>
		
		<div class="space"></div>
		
		<div class="row">
			<img src="/images/push2/seventh.png" />
		</div>
		<div class="row">
			<img src="/images/push2/8th.jpg" />
		</div>
		<div class="row zk_info">
			<div class="col-xs-8 zk_infoName">小米Note 2 双曲面商务旗舰</div>
			<div id="note2_price" class="zk_infoPrice">
				<span>起</span>
				<div>2799.00</div>
			</div>
		</div>
		<div class="row zk_state">
			新版本6GB+64GB 现货开售
		</div>
	</div>
</div>