<!--
	作者：周轲
	时间：2017-07-13
	描述：这是手机的页面
-->
<div class="content row">
	<!--
    	作者：吴凡
    	时间：2017-07-13
    	描述：手滑轮播图
    -->
	<div class="slideshow col-xs-12" >
    <%-include("slideshow",{ pictures: [{ url: "/images/push2/shouji1.jpg" }, { url: "/images/push2/shouji2.jpg" }, { url: "/images/push2/shouji3.jpg" }] })%>
	</div>
	<div class="push col-xs-12">
		<!--
			作者：zk
			时间：2017-07-12
			描述：
		-->
		<div class="zk_up">
			<img src="/images/push/up.png" />
		</div>
		<div class="row">
			<img src="/images/push2/third.jpg" />
		</div>
		<div class="space"></div>
		<div class="row zk_ad">
			<div class="col-xs-12 zk_adPic">
		    	<img src="/images/push/mi_note2.jpg"/>
		    	<img class="zk_adTag" src="/images/push/tag_300.png" />
		    </div>
		</div>
		<div class="row zk_info">
			<div class="col-xs-8 zk_infoName">小米Note 2 双曲面商务旗舰</div>
			<div id="note2_price" class="zk_infoPrice">
				<span>起</span>
				<div>2799.00</div>
			</div>
		</div>
		<div class="row zk_state">
			新版本6GB+64GB 现货开售
		</div>
	
		<div class="row zk_goodsPic">
			<div class="col-xs-6">
				<img src="/images/push/mi_mix.jpg" />
			</div>
			<div class="col-xs-6">
				<img src="/images/push/mi_5s.jpg" />
			</div>
		</div>
		<div class="row zk_goodsBrief">
			<div class="col-xs-6">
				<div class="col-xs-12 zk_infoName">
					小米MIX
				</div>
				<div class="col-xs-12 zk_state">
					6.4" 全面屏，全陶瓷机身
				</div>
				<div class="col-xs-12 zk_briefPrice">
					<span>起</span>
					<div>2799.00</div>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="col-xs-12 zk_infoName">
					小米5s 64GB版
				</div>
				<div class="col-xs-12 zk_state">
					“暗夜之眼”超感光相机
				</div>
				<div class="col-xs-12 zk_briefPrice">
					<div>1999.00</div>
				</div>
			</div>
		</div>
		
		<div class="row zk_goodsPic">
			<div class="col-xs-6">
				<img src="/images/push/mi_5splus.jpg" />
			</div>
			<div class="col-xs-6">
				<img src="/images/push/mi_4x.jpg" />
			</div>
		</div>
		<div class="row zk_goodsBrief">
			<div class="col-xs-6">
				<div class="col-xs-12 zk_infoName">
					小米5s Plus
				</div>
				<div class="col-xs-12 zk_state">
					5.7"大屏双摄手机
				</div>
				<div class="col-xs-12 zk_briefPrice">
					<div>2299.00</div>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="col-xs-12 zk_infoName">
					红米4X 
				</div>
				<div class="col-xs-12 zk_state">
					超长续航，5” 舒适单手握感
				</div>
				<div class="col-xs-12 zk_briefPrice">
					<span>起</span>
					<div>699.00</div>
				</div>
			</div>
		</div>
	
		<div class="row space"></div>
		
		<div class="row">
			<img src="/images/push/china_mobile.jpg" />
		</div>
		
		<div class="row space"></div>
		
		<div class="row zk_title">
			<div class="col-xs-12">
		    	<img src="/images/push/latest.png" width="100%"/>
		    </div>
		</div>
		<div class="row zk_ad">
			<div class="col-xs-12 zk_adPic">
		    	<img src="/images/push/mi_6.jpg"/>
		    </div>
		</div>
		<div class="row zk_info">
			<div class="col-xs-8 zk_infoName">小米6</div>
			<div id="note2_price" class="zk_infoPrice">
				<span>起</span>
				<div>2499.00</div>
			</div>
		</div>
		<div class="row zk_state">
			变焦双摄，拍人更美
		</div>

		<div class="row zk_ad">
			<div class="col-xs-12 zk_adPic">
		    	<img src="/images/push/mi_max2.jpg"/>
		    </div>
		</div>
		<div class="row zk_info">
			<div class="col-xs-8 zk_infoName">小米Max 2</div>
			<div class="zk_infoPrice">
				<span>起</span>
				<div>1699.00</div>
			</div>
		</div>
		<div class="row zk_state">
			6.44" 大屏，5300mAh充电宝级的大电量
		</div>
		
		<div class="row space"></div>
		
		<div class="row zk_title">
			<div class="col-xs-12">
		    	<img src="/images/push/mi_phone.png" width="100%"/>
		   	</div>
		</div>
		<div class="row zk_ad">
			<div class="col-xs-12 zk_adPic">
		    	<img src="/images/push/mi_5s_2.jpg"/>
		    	<img class="zk_adTag" src="/images/push/tag_300.png" />
		    </div>
		</div>
		<div class="row zk_info">
			<div class="col-xs-8 zk_infoName">小米5s</div>
			<div id="note2_price" class="zk_infoPrice">
				<div>1999.00</div>
			</div>
		</div>
		<div class="row zk_state">
			拍照黑科技，“暗夜之眼”超感光相机
		</div>
		
		<div class="row zk_goodsPic">
			<div class="col-xs-6">
				<img src="/images/push/mi_mix.jpg" />
			</div>
			<div class="col-xs-6">
				<img src="/images/push/mi_5s.jpg" />
			</div>
		</div>
		<div class="row zk_goodsBrief">
			<div class="col-xs-6">
				<div class="col-xs-12 zk_infoName">
					小米MIX
				</div>
				<div class="col-xs-12 zk_state">
					6.4" 全面屏，全陶瓷机身
				</div>
				<div class="col-xs-12 zk_briefPrice">
					<span>起</span>
					<div>2799.00</div>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="col-xs-12 zk_infoName">
					小米5s 64GB版
				</div>
				<div class="col-xs-12 zk_state">
					“暗夜之眼”超感光相机
				</div>
				<div class="col-xs-12 zk_briefPrice">
					<div>1999.00</div>
				</div>
			</div>
		</div>
		
		<div class="row zk_goodsPic">
			<div class="col-xs-6">
				<img src="/images/push/mi_5splus.jpg" />
			</div>
			<div class="col-xs-6">
				<img src="/images/push/mi_4x.jpg" />
			</div>
		</div>
		<div class="row zk_goodsBrief">
			<div class="col-xs-6">
				<div class="col-xs-12 zk_infoName">
					小米5s Plus
				</div>
				<div class="col-xs-12 zk_state">
					5.7"大屏双摄手机
				</div>
				<div class="col-xs-12 zk_briefPrice">
					<div>2299.00</div>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="col-xs-12 zk_infoName">
					红米4X 
				</div>
				<div class="col-xs-12 zk_state">
					超长续航，5” 舒适单手握感
				</div>
				<div class="col-xs-12 zk_briefPrice">
					<span>起</span>
					<div>699.00</div>
				</div>
			</div>
		</div>
		
		<div class="row" style="background-color: white;">
			<div class="col-xs-6"><img src="/images/push/music.jpg" /></div>
			<div class="col-xs-6"><img src="/images/push/fashion.png" /></div>
		</div>
		<div class="row" style="background-color: white;">
			<div class="col-xs-6"><img src="/images/push/study.png" /></div>
			<div class="col-xs-6"><img src="/images/push/mijia.jpg" /></div>
		</div>
	</div>
</div>
