<div class="content row">
	<!--
    	作者：吴凡
    	时间：2017-07-13
    	描述：手滑轮播图
    -->
	<div class="slideshow col-xs-12" >
    <%-include("slideshow",{ pictures: [{ url: "/images/push3/zhineng1.jpg" }, { url: "/images/push3/zhineng2.jpg" }, { url: "/images/push3/zhineng1.jpg" }] })%>
	</div>
	<div class="push col-xs-12">
		<!--
			作者：zk
			时间：2017-07-12
			描述：
		-->
		<div class="zk_up">
			<img src="/images/push/up.png" />
		</div>
		<div class="row zk_title">
			<div class="col-xs-12">
		    	<img src="/images/push/recommend.png" width="100%"/>
		    </div>
		</div>
		<div class="row zk_ad">
			<div class="col-xs-12 zk_adPic">
		    	<img src="/images/push3/电饭煲.jpg"/>
		    	<img class="zk_adTag" src="/images/push/tag_300.png" />
		    </div>
		</div>
		<div class="row zk_info">
			<div class="col-xs-8 zk_infoName">米家压力IH电饭煲</div>
			<div id="note2_price" class="zk_infoPrice">
				<span></span>
				<div>999.00</div>
			</div>
		</div>
		<div class="row zk_state">
			幸福的味道有点甜
		</div>
	
		<div class="row zk_goodsPic">
			<div class="col-xs-6">
				<img src="/images/push3/小方摄像机.jpg" />
			</div>
			<div class="col-xs-6">
				<img src="/images/push3/小米手环2.jpg" />
			</div>
		</div>
		<div class="row zk_goodsBrief">
			<div class="col-xs-6">
				<div class="col-xs-12 zk_infoName">
					小方只能摄像机1080P
				</div>
				<div class="col-xs-12 zk_state">
					1080P高清画质，安全看家
				</div>
				<div class="col-xs-12 zk_briefPrice">
					<span></span>
					<div>129.00</div>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="col-xs-12 zk_infoName">
					小米手环2
				</div>
				<div class="col-xs-12 zk_state">
					OLED显示屏，触摸操作
				</div>
				<div class="col-xs-12 zk_briefPrice">
					<div>149.00</div>
				</div>
			</div>
		</div>
		
		<div class="row zk_goodsPic">
			<div class="col-xs-6">
				<img src="/images/push3/什么鬼.jpg" />
			</div>
			<div class="col-xs-6">
				<img src="/images/push3/小米路由器三.jpg" />
			</div>
		</div>
		<div class="row zk_goodsBrief">
			<div class="col-xs-6">
				<div class="col-xs-12 zk_infoName">
					米家扫地机器人
				</div>
				<div class="col-xs-12 zk_state">
					智商高，扫得干净扫得快
				</div>
				<div class="col-xs-12 zk_briefPrice">
					<span></span>
					<div>1699.00</div>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="col-xs-12 zk_infoName">
					小米路由器3
				</div>
				<div class="col-xs-12 zk_state">
					全向高增益4天线
				</div>
				<div class="col-xs-12 zk_briefPrice">
					<div>149.00</div>
				</div>
			</div>
		</div>
		
		<div class="row zk_goodsPic">
			<div class="col-xs-6">
				<img src="/images/push3/米兔故事.jpg" />
			</div>
			<div class="col-xs-6">
				<img src="/images/push3/小米体脂.jpg" />
			</div>
		</div>
		<div class="row zk_goodsBrief">
			<div class="col-xs-6">
				<div class="col-xs-12 zk_infoName">
					米兔故事机
				</div>
				<div class="col-xs-12 zk_state">
					能说会道，宝宝的好玩伴
				</div>
				<div class="col-xs-12 zk_briefPrice">
					<div>199.00</div>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="col-xs-12 zk_infoName">
					小米体脂称
				</div>
				<div class="col-xs-12 zk_state">
					简约纤维轻松掌握身体数据
				</div>
				<div class="col-xs-12 zk_briefPrice">
					<span></span>
					<div>199.00</div>
				</div>
			</div>
		</div>
		
		<div class="row zk_title">
			<div class="col-xs-12">
		    	<img src="/images/push/latest.png" width="100%"/>
		    </div>
		</div>
		<div class="row zk_ad">
			<div class="col-xs-12 zk_adPic">
		    	<img src="/images/push3/积木机器人.jpg"/>
		    </div>
		</div>
		<div class="row zk_info">
			<div class="col-xs-8 zk_infoName">米兔积木机器人</div>
			<div id="note2_price" class="zk_infoPrice">
				<span></span>
				<div>459.00</div>
			</div>
		</div>
		<div class="row zk_state">
			978个零件，自平衡系统，只能遥控，简单编程
		</div>

		<div class="row zk_ad">
			<div class="col-xs-12 zk_adPic">
		    	<img src="/images/push3/米兔儿童手表.jpg"/>
		    </div>
		</div>
		<div class="row zk_info">
			<div class="col-xs-8 zk_infoName">米兔儿童手表Q</div>
			<div class="zk_infoPrice">
				<span></span>
				<div>249.00</div>
			</div>
		</div>
		<div class="row zk_state">
			11重安全设计，五重精准定位，食品级材质
		</div>
		
		<div class="row zk_goodsPic">
			<div class="col-xs-6">
				<img src="/images/push3/米家感应夜灯.jpg" />
			</div>
			<div class="col-xs-6">
				<img src="/images/push3/九号平衡车.jpg" />
			</div>
		</div>
		<div class="row zk_goodsBrief">
			<div class="col-xs-6">
				<div class="col-xs-12 zk_infoName">
					米家感应夜灯
				</div>
				<div class="col-xs-12 zk_state">
					举步之间，光明立即
				</div>
				<div class="col-xs-12 zk_briefPrice">
					<span></span>
					<div>49.00</div>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="col-xs-12 zk_infoName">
					九号平衡车 PLUS
				</div>
				<div class="col-xs-12 zk_state">
					一个形影不离的好伙伴
				</div>
				<div class="col-xs-12 zk_briefPrice">
					<div>3499.00</div>
				</div>
			</div>
		</div>
		
		<div class="row zk_goodsPic">
			<div class="col-xs-6">
				<img src="/images/push3/后视镜.jpg" />
			</div>
			<div class="col-xs-6">
				<img src="/images/push3/天然报警器.jpg" />
			</div>
		</div>
		<div class="row zk_goodsBrief">
			<div class="col-xs-6">
				<div class="col-xs-12 zk_infoName">
					70迈只能后视镜
				</div>
				<div class="col-xs-12 zk_state">
					大屏大视野，看得更清楚
				</div>
				<div class="col-xs-12 zk_briefPrice">
					<div>1299.00</div>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="col-xs-12 zk_infoName">
					天然报警器
				</div>
				<div class="col-xs-12 zk_state">
					安全保障持续“在线”
				</div>
				<div class="col-xs-12 zk_briefPrice">
					<span></span>
					<div>199.00</div>
				</div>
			</div>
		</div>
		
		<div class="row" style="background-color: white;">
			<div class="col-xs-6"><img src="/images/push/music.jpg" /></div>
			<div class="col-xs-6"><img src="/images/push/fashion.png" /></div>
		</div>
		<div class="row" style="background-color: white;">
			<div class="col-xs-6"><img src="/images/push/study.png" /></div>
			<div class="col-xs-6"><img src="/images/push/mijia.jpg" /></div>
		</div>
	</div>
</div>
