<div class="content row">
	<!--
    	作者：吴凡
    	时间：2017-07-13
    	描述：手滑轮播图
    -->
	<div class="slideshow col-xs-12" >
    <%-include("slideshow",{ pictures: [{ url: "/images/push5/diannao1.jpg" }, { url: "/images/push5/diannao2.jpg" }, { url: "/images/push5/diannao1.jpg" }] })%>
	</div>
	<div class="push col-xs-12">
		<!--
			作者：zk
			时间：2017-07-12
			描述：
		-->
		<div class="zk_up">
			<img src="/images/push/up.png" />
		</div>
		<div class="row zk_title">
			<div class="col-xs-12">
		    	<img src="/images/push/recommend.png" width="100%"/>
		    </div>
		</div>
		<div class="row zk_ad">
			<div class="col-xs-12 zk_adPic">
		    	<img src="/images/push5/小米平板3.jpg"/>
		    	<img class="zk_adTag" src="/images/push/tag_300.png" />
		    </div>
		</div>
		<div class="row zk_info">
			<div class="col-xs-8 zk_infoName">小米平板3 玩得更畅快</div>
			<div id="note2_price" class="zk_infoPrice">
				<span></span>
				<div>1499.00</div>
			</div>
		</div>
		<div class="row zk_state">
			买赠原装高透保护贴膜，数量有限
		</div>
	
		<div class="row zk_goodsPic">
			<div class="col-xs-6">
				<img src="/images/push5/小米笔记本Air.jpg" />
			</div>
			<div class="col-xs-6">
				<img src="/images/push5/悦米机械键盘.jpg" />
			</div>
		</div>
		<div class="row zk_goodsBrief">
			<div class="col-xs-6">
				<div class="col-xs-12 zk_infoName">
					小米笔记本Air
				</div>
				<div class="col-xs-12 zk_state">
					像杂志一般轻薄
				</div>
				<div class="col-xs-12 zk_briefPrice">
					<span>起</span>
					<div>3599.00</div>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="col-xs-12 zk_infoName">
					悦米机械键盘
				</div>
				<div class="col-xs-12 zk_state">
					轻松入手，手感出众
				</div>
				<div class="col-xs-12 zk_briefPrice">
					<div>279.00</div>
				</div>
			</div>
		</div>
		
		<div class="row zk_goodsPic">
			<div class="col-xs-6">
				<img src="/images/push5/小米无线鼠标.jpg" />
			</div>
			<div class="col-xs-6">
				<img src="/images/push5/多功能转接器.jpg" />
			</div>
		</div>
		<div class="row zk_goodsBrief">
			<div class="col-xs-6">
				<div class="col-xs-12 zk_infoName">
					小米无线鼠标
				</div>
				<div class="col-xs-12 zk_state">
					把鼠标握在手里
				</div>
				<div class="col-xs-12 zk_briefPrice">
					<span></span>
					<div>69.00</div>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="col-xs-12 zk_infoName">
					多功能转接器
				</div>
				<div class="col-xs-12 zk_state">
					高性能转接器
				</div>
				<div class="col-xs-12 zk_briefPrice">
					<div>149.00</div>
				</div>
			</div>
		</div>
		
		<div class="row zk_goodsPic">
			<div class="col-xs-6">
				<img src="/images/push5/笔记本内胆包.jpg" />
			</div>
			<div class="col-xs-6">
				<img src="/images/push5/电源适配器.jpg" />
			</div>
		</div>
		<div class="row zk_goodsBrief">
			<div class="col-xs-6">
				<div class="col-xs-12 zk_infoName">
					笔记本内胆包
				</div>
				<div class="col-xs-12 zk_state">
					至简纤薄 轻松随行无压力
				</div>
				<div class="col-xs-12 zk_briefPrice">
					<div>69.00</div>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="col-xs-12 zk_infoName">
					USB-C电源适配器
				</div>
				<div class="col-xs-12 zk_state">
					小米笔记本的终身陪伴
				</div>
				<div class="col-xs-12 zk_briefPrice">
					<span></span>
					<div>94.00</div>
				</div>
			</div>
		</div>
		
		<div class="row zk_title">
			<div class="col-xs-12">
		    	<img src="/images/push/latest.png" width="100%"/>
		    </div>
		</div>
		<div class="row zk_ad">
			<div class="col-xs-12 zk_adPic">
		    	<img src="/images/push5/小米笔记本AIR3.jpg"/>
		    </div>
		</div>
		<div class="row zk_info">
			<div class="col-xs-8 zk_infoName">小米笔记本Air3 13.3英寸</div>
			<div id="note2_price" class="zk_infoPrice">
				<span>起</span>
				<div>4999.00</div>
			</div>
		</div>
		<div class="row zk_state">
			全金属超薄机身搭配独显
		</div>

		<div class="row zk_ad">
			<div class="col-xs-12 zk_adPic">
		    	<img src="/images/push5/小米笔记本AIR12.5.jpg"/>
		    </div>
		</div>
		<div class="row zk_info">
			<div class="col-xs-8 zk_infoName">小米笔记本Air 12.5英寸</div>
			<div class="zk_infoPrice">
				<span>起</span>
				<div>3599.00</div>
			</div>
		</div>
		<div class="row zk_state">
			像杂志一样轻薄
		</div>
		
		<div class="row zk_goodsPic">
			<div class="col-xs-6">
				<img src="/images/push5/小米便携鼠标.jpg" />
			</div>
			<div class="col-xs-6">
				<img src="/images/push5/小米随身WIFI.jpg" />
			</div>
		</div>
		<div class="row zk_goodsBrief">
			<div class="col-xs-6">
				<div class="col-xs-12 zk_infoName">
					小米便携鼠标
				</div>
				<div class="col-xs-12 zk_state">
					轻薄便携
				</div>
				<div class="col-xs-12 zk_briefPrice">
					<span></span>
					<div>99.00</div>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="col-xs-12 zk_infoName">
					小米随身wifi
				</div>
				<div class="col-xs-12 zk_state">
					便捷的随身上网神器
				</div>
				<div class="col-xs-12 zk_briefPrice">
					<div>19.00</div>
				</div>
			</div>
		</div>
		
		<div class="row zk_goodsPic">
			<div class="col-xs-6">
				<img src="/images/push5/高透保护膜.jpg" />
			</div>
			<div class="col-xs-6">
				<img src="/images/push5/笔记本贴纸.jpg" />
			</div>
		</div>
		<div class="row zk_goodsBrief">
			<div class="col-xs-6">
				<div class="col-xs-12 zk_infoName">
					平板3高透保护膜
				</div>
				<div class="col-xs-12 zk_state">
					高清通透，好品质看得见
				</div>
				<div class="col-xs-12 zk_briefPrice">
					<div>19.00</div>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="col-xs-12 zk_infoName">
					12.5英寸 笔记本贴纸
				</div>
				<div class="col-xs-12 zk_state">
					色彩细腻，防水耐磨
				</div>
				<div class="col-xs-12 zk_briefPrice">
					<span></span>
					<div>69.00</div>
				</div>
			</div>
		</div>
		
		<div class="row" style="background-color: white;">
			<div class="col-xs-6"><img src="/images/push/music.jpg" /></div>
			<div class="col-xs-6"><img src="/images/push/fashion.png" /></div>
		</div>
		<div class="row" style="background-color: white;">
			<div class="col-xs-6"><img src="/images/push/study.png" /></div>
			<div class="col-xs-6"><img src="/images/push/mijia.jpg" /></div>
		</div>
	</div>
</div>
