<div class="content row">
	
	<div class="push col-xs-12">
		<!--
			作者：zk
			时间：2017-07-12
			描述：
		-->
		<div class="zk_up">
			<img src="/images/push/up.png" />
		</div>
		<div class="row zk_title">
			<div class="col-xs-12">
		    	<img src="/images/push/recommend.png" width="100%"/>
		    </div>
		</div>
		<div class="row zk_ad">
			<div class="col-xs-12 zk_adPic" style="margin-top: -1.5rem;">
		    	<img src="/images/push6/TS偏光太阳镜.jpg"/>
		    </div>
		</div>
	
		<div class="row zk_goodsPic">
			<div class="col-xs-6">
				<img src="/images/push6/米家运动鞋智能版.webp" />
			</div>
			<div class="col-xs-6">
				<img src="/images/push6/极简都市双肩包.webp" />
			</div>
		</div>
		<div class="row zk_goodsBrief">
			<div class="col-xs-6">
				<div class="col-xs-12 zk_infoName">
					米家运动鞋智能版
				</div>
				<div class="col-xs-12 zk_state">
					新时尚，“芯”改变
				</div>
				<div class="col-xs-12 zk_briefPrice">
					<span></span>
					<div>229.00</div>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="col-xs-12 zk_infoName">
					极简都市双肩包
				</div>
				<div class="col-xs-12 zk_state">
					方形立体设计
				</div>
				<div class="col-xs-12 zk_briefPrice">
					<div>149.00</div>
				</div>
			</div>
		</div>
		
		<div class="row zk_goodsPic">
			<div class="col-xs-6">
				<img src="/images/push6/小米短袖Polo衫.jpg" />
			</div>
			<div class="col-xs-6">
				<img src="/images/push6/简约头层牛皮小钱包.webp" />
			</div>
		</div>
		<div class="row zk_goodsBrief">
			<div class="col-xs-6">
				<div class="col-xs-12 zk_infoName">
					小米短袖Polo衫     
				</div>
				<div class="col-xs-12 zk_state">
					拼接抗菌面料 百搭舒适
				</div>
				<div class="col-xs-12 zk_briefPrice">
					<span></span>
					<div>99.00</div>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="col-xs-12 zk_infoName">
					简约头层小牛皮钱包
				</div>
				<div class="col-xs-12 zk_state">
					轻松揣进口袋，便于携带
				</div>
				<div class="col-xs-12 zk_briefPrice">
					<div>129.00</div>
				</div>
			</div>
		</div>
		
		<div class="row zk_goodsPic">
			<div class="col-xs-6">
				<img src="/images/push6/小米V领短袖T恤.webp" />
			</div>
			<div class="col-xs-6">
				<img src="/images/push6/90分轻户外旅行洗漱包.webp" />
			</div>
		</div>
		<div class="row zk_goodsBrief">
			<div class="col-xs-6">
				<div class="col-xs-12 zk_infoName">
					小米V领短袖T恤 女款
				</div>
				<div class="col-xs-12 zk_state">
					时尚V领设计，柔软轻薄
				</div>
				<div class="col-xs-12 zk_briefPrice">
					<div>39.00</div>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="col-xs-12 zk_infoName">
					90分轻户外旅行洗漱包
				</div>
				<div class="col-xs-12 zk_state">
					轻质透气，内外双层防水
				</div>
				<div class="col-xs-12 zk_briefPrice">
					<span></span>
					<div>39.00</div>
				</div>
			</div>
		</div>
		
		<div class="row zk_title">
			<div class="col-xs-12">
		    	<img src="/images/push6/latest.webp" width="100%"/>
		    </div>
		</div>
		<div class="row zk_ad">
			<div class="col-xs-12 zk_adPic">
		    	<img src="/images/push6/浴巾大.webp"/>
		    </div>
		</div>
		<div class="row zk_info">
			<div class="col-xs-8 zk_infoName">最生活浴巾 青春系列</div>
			<div id="note2_price" class="zk_infoPrice">
				<span></span>
				<div>99.00</div>
			</div>
		</div>
		<div class="row zk_state">
			阿瓦提长绒棉，天然棉花让肌肤爱上柔软
		</div>

		<div class="row zk_ad">
			<div class="col-xs-12 zk_adPic">
		    	<img src="/images/push6/90分旅行箱.webp"/>
		    </div>
		</div>
		<div class="row zk_info">
			<div class="col-xs-8 zk_infoName">90分旅行箱 28寸</div>
			<div class="zk_infoPrice">
				<span></span>
				<div>499.00</div>
			</div>
		</div>
		<div class="row zk_state">
			三层复合抗压结构，坚固到可以陪你环游世界
		</div>
		
		<div class="row zk_goodsPic">
			<div class="col-xs-6">
				<img src="/images/push6/护颈枕.webp" />
			</div>
			<div class="col-xs-6">
				<img src="/images/push6/乳胶枕头.webp" />
			</div>
		</div>
		<div class="row zk_goodsBrief">
			<div class="col-xs-6">
				<div class="col-xs-12 zk_infoName">
					8H护颈枕U1
				</div>
				<div class="col-xs-12 zk_state">
					乳胶颗粒填充 ，舒适入睡
				</div>
				<div class="col-xs-12 zk_briefPrice">
					<span></span>
					<div>69.00</div>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="col-xs-12 zk_infoName">
					8H标准乳胶枕 Z1
				</div>
				<div class="col-xs-12 zk_state">
					天然好枕头  一晚好睡眠
				</div>
				<div class="col-xs-12 zk_briefPrice">
					<div>149.00</div>
				</div>
			</div>
		</div>
		
		<div class="row zk_goodsPic">
			<div class="col-xs-6">
				<img src="/images/push6/乳胶床垫.webp" />
			</div>
			<div class="col-xs-6">
				<img src="/images/push6/经典商务双肩包.webp" />
			</div>
		</div>
		<div class="row zk_goodsBrief">
			<div class="col-xs-6">
				<div class="col-xs-12 zk_infoName">
					乳胶床垫·青春版
				</div>
				<div class="col-xs-12 zk_state">
					真心品质帮助睡眠
				</div>
				<div class="col-xs-12 zk_briefPrice">
					<div>899.00</div>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="col-xs-12 zk_infoName">
					小米经典商务双肩包
				</div>
				<div class="col-xs-12 zk_state">
					实用商务时尚范
				</div>
				<div class="col-xs-12 zk_briefPrice">
					<span></span>
					<div>99.00</div>
				</div>
			</div>
		</div>
	</div>
</div>
