
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>小mi商城</title>

    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/footer.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/index_header.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/zk.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/wf.css" />

    <script src="/javascripts/jquery-3.2.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/script.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/toucher.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/wf.js" type="text/javascript" charset="UTF-8"></script>

</head>

<body>
	<!--
		作者：吴凡
		时间：2017-07-14
		描述：购物车页
	-->
	<div class="wf_head">
		<div class="col-xs-1" id="back_button"><</div>
		<div class="col-xs-10" id="wf_head_content">购物车</div>
		<div class="glyphicon glyphicon-search col-xs-1" id="search_botton"></div>
	</div>
	<div class="cart_list">
		<ul>
			<li class="wf_item">
				<div class="col-xs-2 wf_checkbox" check="0"></div>
				<div class="col-xs-3 wf_goods"><img src="images/b74ebe87706ad7b08a80a039abf1ecbc.jpg"></div>
				<div class="col-xs-7 goods_element">
					<div class="wf_goods_info">米兔故事机套机</div>
					<div class="wf_goods_price" value="1999">售价1999</div>
					<div class="wf_goods_counts">
						<div class="col-xs-5 wf_input">
							<div class="input_sub col-xs-4">-</div>
							<div class="input_value col-xs-4" value='1'>1</div>
							<div class="input_add col-xs-4">+</div>
						</div>
						<div class="col-xs-2"></div>
						<div class="goods_delete col-xs-1 glyphicon glyphicon-trash">
							
						</div>
					</div>
				</div>
			</li>
			<li class="wf_item">
				<div class="col-xs-2 wf_checkbox" check="0"></div>
				<div class="col-xs-3 wf_goods"><img src="images/d0aa939300df7b4d71f3db8e6dfce7b3.jpg"></div>
				<div class="col-xs-7 goods_element">
					<div class="wf_goods_info">小米相机套机</div>
					<div class="wf_goods_price" value="2499">售价2499</div>
					<div class="wf_goods_counts">
						<div class="col-xs-5 wf_input">
							<div class="input_sub col-xs-4">-</div>
							<div class="input_value col-xs-4" value='1'>1</div>
							<div class="input_add col-xs-4">+</div>
						</div>
						<div class="col-xs-2"></div>
						<div class="goods_delete col-xs-1 glyphicon glyphicon-trash">
							
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<div class="wf_footer">
		<div class="col-xs-4">
			<div class="all_counts" value="0">共0件 金额/元</div>
			<div class="all_price" value="0">0</div>
		</div>
		<div class="col-xs-4 shop_button">继续购物</div>
		<div class="col-xs-4 clear_button">去结算</div>
	</div>
</body>

</html>