
<!--<link rel="stylesheet" href="/stylesheets/footer.css" />
<link rel="stylesheet" href="/stylesheets/account.css" /> -->
<div class="dd">
    <div class="dd_wrapper">
        <div class="dd_personalcenter">
            <div class="dd_head">
                <div class="dd_user">
                    <div class="dd_userimg" onclick="window.location.href='/users/person'"></div>
                    <div class="dd_username <%=login?'':'hide'%>" onclick="window.location.href='/users/person'"><%=login.uname%></div>
                    <div class="dd_username <%=login?'hide':''%>" onclick="window.location.href='/users/login'">登录账号</div>
                </div>
            </div>
            <div class="dd_item1">
                <div class="dd_bill">
                    <cite>我的订单</cite>
                    <span>></span>
                    <div class="dd_morebill">全部订单</div>      			
                </div>
                <ul class="dd_nav">
                    <li id="dd_dfk" class="dd_navitem col-xs-2">
                        <a href="">
                            <div class="dd_icon"></div>
                            <span>待付款</span>
                        </a>
                    </li>
                    <li id="dd_dsh" class="dd_navitem col-xs-2 col-xs-offset-3">
                        <a href="">
                            <div class="dd_icon"></div>
                            <span>待收货</span>
                        </a>
                    </li>
                    <li id="dd_thx" class="dd_navitem col-xs-2 col-xs-offset-3">
                        <a href="">
                            <div class="dd_icon"></div>
                            <span>退换修</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="dd_item2">
                <ul>
                    <li class="dd_wallet">
                        <a>
                            <img src="/images/account/wallet.png"/>
                            <cite>我的优惠</cite>
                            <span>></span>
                        </a>
                        
                    </li>
                </ul>
                <ul>
                    <li class="dd_service">
                        <a>
                            <img src="/images/account/service.png"/>
                            <cite>服务中心</cite>
                            <span>></span>
                        </a>
                        
                    </li>
                    <li class="dd_home">
                        <a>
                            <img src="/images/account/home.png"/>
                            <cite>小米之家</cite>
                            <span>></span>
                        </a>        				
                    </li>
                </ul>
                <ul>
                    <li class="dd_setting" onclick="window.location.href='/users/person'">
                        <a>
                            <img src="/images/account/setting.png"/>
                            <cite>设置</cite>
                            <span>></span>
                        </a>        				
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
